@model IEnumerable<FrontEnd.Models.ServicioViewModel>

@{
    ViewData["Title"] = "Index";
    
}
<body>
<br>
<h1>Index</h1>
<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="row -flex align-items-center">
                            <div class="col">
                                <h5 class="card-title">@Html.DisplayNameFor(modelItem => item.Nombre)</h5>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Nombre)</h6>
                            </div>
                        </div>
                        <div class="row -flex align-items-center">
                            <div class="col">
                                <h5 class="card-title ">@Html.DisplayFor(modelItem => item.Precio)</h5>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted ">@Html.DisplayFor(modelItem => item.Precio)</h6>
                            </div>
                        </div>
                        <div class="row -flex align-items-center">
                            <div class="col">
                                <h5 class="card-title ">@Html.DisplayFor(modelItem => item.Estado)</h5>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted ">@Html.DisplayFor(modelItem => item.Estado)</h6>
                            </div>
                        </div>
                        <p class="card-text">₡ @Html.DisplayFor(modelItem => item.Precio)</p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdServicio }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.IdServicio }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdServicio }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
        .container {
            background-image: url('imgfondos\fondo-piscina-1.jpg');
    }
</style>
</body>                    