@model IEnumerable<FrontEnd.Models.ServicioViewModel>

@{
    ViewData["Title"] = "Index";
}
<br></br>
<h1>Menu de Servicios registrados</h1>
<br></br>
<p>
    <a asp-action="Create" class="btn btn-primary">Crear un servicio</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead class="table-dark vertical-align: middle;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Accion
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdServicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>

                    @*<td>
                @Html.DisplayFor(modelItem => item.Correo)
                </td>*@
                    @*<td>
                @Html.DisplayFor(modelItem => item.NumeroTelefonico)
                </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdServicio }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.IdServicio }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdServicio }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
