@model IEnumerable<FrontEnd.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
}
<br></br>
<h1>Menu de clientes registrados</h1>
<br></br>

<p>
    <a asp-action="Create" class="btn btn-primary">Create un cliente</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead class="table-dark vertical-align: middle;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Segundo Apellido
                </th>
                @*<th>
                Correo
                </th>
                <th>
                Numero Telefonico
                </th>*@
                <th>
                    Accion
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SegundoApellido)
                    </td>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefonico)
                </td>*@
                    <td style="padding-right: 5px">
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdCliente }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.IdCliente }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdCliente }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
